* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  max-height: 746px;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
  background-color: #4e47ff;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #030049;
}

.center {
  text-align: center;
}

main {
  background-color: rgba(214, 221, 237, 0.5);
}

/* header image */

header {
  background-image: url(./Assets/Hero-bg.png);
}
/*Navbar styles*/

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 50px 0px;
}

nav {
  margin-bottom: 158px;
  margin-left: 150px;
  margin-right: 150px;
}

.logo {
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}

/* banner styles */

.banner-text {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}

.banner {
  padding-bottom: 200px;
  padding-left: 267.5px;
  padding-right: 267.5px;
}

/* action styles */

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-column img {
  height: 328px;
  width: 403px;
  border-radius: 48px;
}

.action-column {
  margin: 68px 150px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}
.action-description {
  font-size: 24px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

/* Productive user */

.productive-user {
  padding: 50px 142px;
  margin: 48px 150px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
}

.productive-user ul {
  display: flex;
  justify-content: space-between;
}

.productive-user ul li {
  list-style: none;
}

.productive-user-tittle {
  font-size: 38px;
  font-weight: bold;
}

.item-title {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
  padding: 0;
  margin: 0;
}

.item-description {
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}
.productive-items {
  padding: 0;
  margin: 0;
}
